<!-- home.html -->
{% extends "registration/base.html" %}

{% block title %}Home - Finance Dashboard{% endblock %}

{% block content %}
<header>
    <h1 class="text-center">Welcome to the Finance Dashboard</h1>
</header>
<main>
    <div class="text-center">
        <h2>Overview:</h2>
        <p>The Finance Dashboard is designed to help you manage your personal finances with ease and efficiency. Whether you're tracking income, expenses, or setting up budgets, our dashboard provides an intuitive and comprehensive toolset to keep you on top of your financial goals.</p>
    </div>
</main>
{% endblock %}
